* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
form :placeholder-shown{
    font-size: 20px;
    padding-left: 20px;
}
header {
    background-color: black;
    /* text-align: left; */
    color: grey;
    text-align: left;
    height: 70px;
    position: absolute;
    left: 500px;
    width: 2000px;
    align-items: center;
}

#Title1 {
    position: absolute;
    left: 60px;
    top: 20px;
    font-size: 26px;
    color: grey;
}

#Title2 {
    position: absolute;
    font-size: 40px;
    left: 800px;
    top: 150px;
}

.new-task {
    position: absolute;
    left: 880px;
    top: 230px;
}

.new-task-input {
    width: 900px;
    height: 40px;
    border-radius: 5px;
    font-size: 25px;
    text-align: left;
}

.but {
    background-color: rgb(31, 90, 138);
    color: white;
    height: 40px;
    margin-left: 30px;
    width: 60px;
    border-radius: 5px;
    font-size: 18px;
}
.but:hover {
    background-color: blue;
}
.items {
    margin: 20px 0;
    width: 100%;
    font-size: 50px;
}

.item {
    display: flex;
    flex-flow: row nowrap;
    padding: 10px;
    border: gray 1px solid;
    background: rgb(255, 255, 255);
    text-align: left;
}
.item.checked {
    text-decoration: line-through;
}

.item img {
    flex-shrink: 0;
    cursor: pointer;
    height: 20px;
    position: absolute;
    left: 950px;
}