<h1 class= del>Delivery and Payment </h1>
<h2 >OWN DELIVERY AND SERVICE SERVICE</h2>
<ul >
  <li  >
    Delivery to the door in 24 hours in the cities: Moscow, Tyumen, Nizhnevartovsk, Nizhny Novgorod,
    Chelyabinsk, Orenburg, Omsk, Surgut, St.
    Petersburg, Rostov-on-Don (subject to the availability of goods in stock)
  </li>
  <li>
    MSC delivery cost: 350 rubles - within the city (for MSC - within the Moscow Ring Road). Delivery outside the city may increase.
    The delivery cost of bulky orders - hose, dry cleaning, vacuum cleaner - is calculated individually and may take longer.
  </li>
  <li>
    В Вашем городе нет нашего курьера? Тогда доставка возможна курьерами компании СДЭК (1-4 дней)
    или другими способами (ниже). И кстати, мы ищем курьеров в Вашем городе!
  </li>
</ul>
<h2>DELIVERY BY MAIL OF RUSSIA 2-5 DAYS</h2>
<p>Shipment of your order to any region of Russia cash on delivery. Pay for your order upon receipt by mail.
<br>
  The average cost of delivery by mail is 300 rubles. + 2% of the parcel amount, but not less than 50 rubles.</p>
<h2>DELIVERY TO OFFICES SDEK and DPD</h2>
<p>SDEK is a goods delivery service in Russia with over 1,500 offices.
  Delivery of orders is possible both in the office of SDEK in your city, and by courier to
  the door. The average delivery time is 3-5 days. The average cost of delivery to the office is 300-400 rubles.</p>
<p>DPD is a goods delivery service, more than 2500 offices and points of delivery in Russia.
  Delivery is carried out in offices or points of delivery, or by courier to the door.
  Delivery time depends on the city, on average 4-6 days. The average cost of delivery to the office / pick-up point is 400-500 rubles.</p>
<h2>Payment</h2>
<b>Payment by VISA / MasterCard, Yandex.Money
  on the website www.Soji.com, or payment by details</b>
<h2>REMAINING QUESTIONS?</h2>
<b>Check the information you are interested in with our specialists through the Soji@gmail.com
  or call us at toll free number 8 (800) 500-07-72</b>
